body{
  background-color: #ccc;
}
iframe {
        width: 100%;
        border: 0;
        min-height: 80%;
        height: 600px;
        display: flex;
	}
	tr:nth-child(even){
	    background: #CCC;
	}
	a{
	color: Black;
	}
	a:hover{
	color: black;
    	text-decoration: none;
      }
      .table-striped
      {
        box-shadow:0px 0px 10px #B0BEC5;
      }
.head
{
  text-align: center;
  background-color: #ccc;
  box-shadow:0px 0px 10px #B0BEC5;
  margin-bottom: 50px;
  color:white;
  padding: 10px;
}
.modal-header{
  background-color: #ccc;
}
.modal-body, .table{
  background-color: #ebebeb;
}
.table{
  background:#ebebeb;
  box-shadow:0px 0px 10px #B0BEC5;
}
table tr {

    background: #CCC;
    font-family: sans-serif;
    box-shadow:0px 0px 10px #B0BEC5;
}
.content{
background:#ebebeb;
box-shadow:0px 0px 10px #B0BEC5;
padding-bottom: 20px;
}
